# AWS user credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Region onto which you want to deploy the service
AWS_REGION=

# Unique S3 bucker name in which all processed emails will be stored for around 24h
EMAIL_BUCKET_NAME=

# Your base domain name, used only for informational purposes on the service landing page, ie: example.com
EMAIL_DOMAIN=

# Subdomain under which you want to have the web and api interface to be available, ie. www.example.com
INTERFACE_SUBDOMAIN=

# Disallow or allow public access to your service
# PRIVATE_ACCESS=true

# List of restricted inboxes based on:
#  - https://support.google.com/a/answer/6093413?hl=en
#  - https://www.ietf.org/rfc/rfc2142.txt
# INBOX_BLACKLIST=hostmaster,postmaster,webmaster,admin,administrator,abuse,root,ssl-admin,majordomo
