<div class="container-custom">
  <span class="block w-full text-center text-sm text-gray-500">
    Powered by <a class="text-blue-600 hover:underline" href="https://github.com/kdybicz/dispose-me">Dispose Me</a>
    version <var><%= process.env.APP_VERSION %></var>
    under the <a class="text-blue-600 hover:underline" href="https://github.com/kdybicz/dispose-me/blob/master/LICENSE">MIT License</a>.
  </span>
</div>
