<div class="container">
  <span class="text-center text-muted">
    Powered by <a href="https://github.com/kdybicz/dispose-me">Dispose Me</a>
    version <var><%= process.env.APP_VERSION ?? 'dev' %><</var>
    under the <a href="https://github.com/kdybicz/dispose-me/blob/master/LICENSE">MIT License</a>.
  </span>
</div>
