<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 w-full text-center text-[13px] text-slate-400">
  Powered by <a class="text-indigo-500 font-medium hover:underline" href="https://github.com/kdybicz/dispose-me">Dispose Me</a>
  version <var><%= process.env.APP_VERSION %></var>
  under the <a class="text-indigo-500 font-medium hover:underline" href="https://github.com/kdybicz/dispose-me/blob/master/LICENSE">MIT License</a>.
</div>
