name: 'Deploy'

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - id: sets-a-secret
      name: Setup masks for the secrets
      run: |
        echo "::add-mask::${{secrets.AWS_ACCOUNT_ID}}"
        echo "::add-mask::${{secrets.AWS_DEFAULT_REGION}}"
        echo "::add-mask::${{secrets.DOMAIN_NAME}}"
    - uses: actions/checkout@v6
    - name: Enable Corepack
      run: corepack enable
    - name: Use Node.js 22.x
      uses: actions/setup-node@v6
      with:
        node-version: 22.x
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    - name: Get Current Release
      id: get_current_release
      uses: joutvhu/get-release@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        latest: true
    - name: Run deployment
      env:
        APP_VERSION: ${{ github.ref_type == 'tag' && github.ref_name || format('{0}-dev', steps.get_current_release.outputs.tag_name) }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        CDK_DISABLE_CLI_TELEMETRY: true
        DOMAIN_NAME: ${{ secrets.DOMAIN_NAME }}
        INBOX_BLACKLIST: ${{ secrets.INBOX_BLACKLIST }}
        PRIVATE_ACCESS: ${{ secrets.PRIVATE_ACCESS }}
      run: pnpm deploy:ci
    - name: Run post-deployment cleanup
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        CDK_DISABLE_CLI_TELEMETRY: true
        DOMAIN_NAME: ${{ secrets.DOMAIN_NAME }}
      run: pnpm postdeploy:ci
