name: 'Node.js CI'

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: '49 4 * * 1'

permissions:
  checks: write
  pull-requests: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Enable Corepack
      run: corepack enable
    - name: Use Node.js 22.x
      uses: actions/setup-node@v6
      with:
        node-version: 22.x
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    - name: Run lint
      run: pnpm lint:ci
    - name: Run tests & coverage
      uses: ArtiomTr/jest-coverage-report-action@v2
      with:
        icons: emoji
        package-manager: pnpm
        skip-step: install
